body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
    box-sizing: border-box;
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

select {
-webkit-appearance:none;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.forms {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.left{ 
    margin-top: 3em;   
    width:45%;
    float:left;
    margin-left: 2em;
    clear: left;
}

.right{
    margin-top: 3em;
    width: 45%;
    float:right;
    margin-right: 2em;
    clear: right;
}
 
.tags
{
    text-align: center;
}
#faltu{
    padding-top:2em;
    clear:both;
}

.show{ 
    float:left;   
    clear:left;
    margin-left: 2em;
    margin-top: 3em;
    max-width: 30%;
    background:rgba(255,255,255,0.7);    
    padding: 0.7em;
    padding-right: 2em;
    border-radius: 10px;    
    box-shadow:0 8px 10px 0 rgba(0,0,0,.20),0 8px 10px 0 rgba(0,0,0,.19);   
    margin-bottom: 2em;    
}

.logout{    
    min-height: 3em;
    width: 7.5em;
    position: relative;
    text-align: center;
    color: white;    
    background:rgba(40,57,101,.9);
    margin-right: 2em;
    float: right;
    vertical-align: middle;
    line-height: 2.9em;    
    border-radius: 25px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

#log{
    color:white;    
}
a{
    text-decoration: none;
}
#newsh{
    min-height: 3em;
    width: 7.5em;
    position: relative;
    text-align: center;
    color: white;    
    background:rgba(40,57,101,.9);
    margin-left: 2em;  
    float: left;
    vertical-align: middle;
    line-height: 2.9em;    
    border-radius: 25px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
#sch{
    color:white;
}
#title,#greet{
    margin-top: 1em;
    text-align: center;
}
.list{
    background:rgba(255,255,255,0.7);
    width:90%;
    padding: 0.7em;
    border-radius: 10px;    
    box-shadow:0 8px 10px 0 rgba(0,0,0,.20),0 8px 10px 0 rgba(0,0,0,.19);
}
ul {
  list-style-type: none;
}
.baths{
    background:#c8c8c8;
    width:90%;
    padding: 0.5em;
    border-radius: 10px;           
}
.work{
    text-align: center;
}
.shifts{
    background:rgba(255,255,255,1);
    width:90%;
    padding: 0.7em;
    border-radius: 10px;  
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;  
}
h3{
    text-align: center;
}
.right h3{    
}