body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
    box-sizing: border-box;
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

select {
-webkit-appearance:none;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.forms {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.left{ 
    margin-top: 3em;   
    width:45%;
    float:left;
    margin-left: 2em;
    clear: left;
}

.right{
    margin-top: 3em;
    width: 45%;
    float:right;
    margin-right: 2em;
    clear: right;
}
 
.tags
{
    text-align: center;
}
#faltu{
    padding-top:2em;
    clear:both;
}

.show{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    max-width: 93%;
    background:rgba(255,255,255,0.7);    
    padding: 0.7em;
    border-radius: 10px;    
    box-shadow:0 8px 10px 0 rgba(0,0,0,.20),0 8px 10px 0 rgba(0,0,0,.19);    
    overflow:auto;    
}

#buildpro{    
    width:98%;
}

.logout{
    min-height: 3em;
    width: 7.5em;
    position: relative;
    text-align: center;
    color: white;    
    background:rgba(40,57,101,.9);
    margin-right: 2em;  
    float: right;
    vertical-align: middle;
    line-height: 2.9em;    
    border-radius: 25px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
#log{
    color:white;
}
#newsh{
    min-height: 3em;
    width: 7.5em;
    position: relative;
    text-align: center;
    color: white;    
    background:rgba(40,57,101,.9);
    margin-left: 2em;  
    float: left;
    vertical-align: middle;
    line-height: 2.9em;    
    border-radius: 25px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
#sch{
    color:white;
}
#title,#greet{
    margin-top: 1em;
    text-align: center;
}
.list{
    background:rgba(255,255,255,0.7);
    width:90%;
    padding: 0.7em;
    border-radius: 10px;    
    box-shadow:0 8px 10px 0 rgba(0,0,0,.20),0 8px 10px 0 rgba(0,0,0,.19);
}
ul {
  list-style-type: none;
}
.baths{
    background:#c8c8c8;
    width:90%;
    padding: 0.5em;
    border-radius: 10px;           
}
.work{
    text-align: center;
}
.shifts{
    background:rgba(255,255,255,0.7);
    width:90%;
    padding: 0.7em;
    border-radius: 10px;    
}

.fl{    
    clear: both;    
}
.foo {
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    float: left;
    width: 237px;
    height: 30px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 2px;
}
.small{
    float: left;
    box-sizing: border-box;      
    height: 30px;
    background: black;
    margin: 0px;
    border: 1px solid rgba(255,255,255,1);
     position: relative;
    display: inline-block;
}
.dropbtn {            
    cursor: pointer;
    color: none;
    opacity:0;
}
.dropdown-content {    
    display: none;
    position: absolute;
    bottom:10px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content p {
    font-size: 11px;
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content p:hover {
    background-color: #f1f1f1;
}
.small:hover .dropdown-content {
    display: block;
}
.small:hover .dropbtn {
    background-color: #3e8e41;
}